.box {
  width: 20em;
  height: 40em;
  border: 1px solid cornflowerblue;
  padding: 10px;
}

.bubble {
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
}

.us {
  background-color: cornflowerblue;
  text-align: right;
  color: white;
}

.them {
  background-color: #ccc;
  text-align: left;
  color: black;
}
